@using System.Linq.Expressions
@using Academy.BattleShip.Web.Models.Player
@using Newtonsoft.Json
@model RegisterModel

@{
    var map = JsonConvert.SerializeObject(Model.ShipMap);
}
<form method="POST" action="@Url.Action("Register")"
      ng-app="BattleShipApp"
      ng-controller="PlayerRegisterController"
      ng-init="Key = '@Model.Key'; ShipMap = @map"
      class="container-fluid">

    <div class="col-md-2 sidebar">
        
        <div class="form-group">
            <label>PlayerName</label>
            <input name="@Html.NameFor(t=>t.Name)" type="text" class="form-control" placeholder="Player Name" ng-model="Name">
        </div>
        <div class="form-group">
            <label>Secret Key</label>
            <input name="@Html.NameFor(t=>t.Key)" type="text" class="form-control" placeholder="Secret Key" ng-model="Key">
        </div>
        <button type="button" class="btn btn-default" ng-click="reset();">Reset</button>
        <button type="submit" class="btn btn-default">Save</button>
    </div>
    <div class="col-md-10" id="map">
        <div class="col-xs-offset-1" ng-repeat="columns in ShipMap track by $index" ng-data="{{y = $index}}">
            <div class="box col-xs-1" ng-repeat="column in columns track by $index"
                 ng-data="{{x = $index}}"
                 ng-class="{ selected: ShipMap[x][y]}"
                 ng-click="toggle(x, y)">
                <input type="hidden" name="ShipMap[{{x}}][{{y}}]" value="{{ShipMap[x][y]}}"/>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</form>

@section scripts
{
        <script type="text/javascript">
            $(document).ready(function () {
                var height = $(window).height() - $("#map").position().top - 25;
                var size = (height / 10) - 2;
                $(".box").css("width", size);
                $(".box").css("height", size);
            });
        </script>
    }
